<div class="post-meta mb-3">
  <span class="post-date me-2" title="created">
    <i class="fas fa-fw fa-calendar-alt"></i>
    {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) }}
  </span>

  {{ if gt .Lastmod .Date }}
    <span class="post-date me-2" title="updated">
      <i class="fas fa-fw fa-sync-alt"></i>
      {{ .Lastmod.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) }}
    </span>
  {{ end }}

  <span class="post-reading-time me-2" title="reading time">
    <i class="fas fa-fw fa-coffee"></i>{{ i18n "reading_time" . }}
  </span>

  {{- range $key, $value := .Site.Taxonomies -}}
    {{- range ($.GetTerms $key) -}}
    <a href="{{ .Permalink }}" class="post-taxonomy">#{{ .Name }}</a>
    {{- end -}}
  {{- end -}}
</div>
